In [78]:
import pandas as pd
import json

In [79]:
# df=pd.read_json('test_not_send/comment.json')
df=pd.read_json('abc.json') #lines = True use in {}{}{}
df

   a  b  c
0  1  2  3
1  4  5  2
2  2  3  6

In [81]:
# df.to_json('aaa.json',orient='records',force_ascii=False,lines=True) # output= {}{}{}
df.to_json('aaa.json',orient='records',force_ascii=False) # output=[{},{},{}] 維持編碼

In [84]:
df=pd.read_json('aaa.json')
df

   a  b  c
0  1  2  3
1  4  5  2
2  2  3  6
3  安  安  阿

In [85]:
df.to_json('aab.json',orient='records',force_ascii=False)

In [55]:
df1=pd.read_json('test_not_send/comment1.json')
df1

            ISBN                                            COMMENT
0  9789868658301  \r從另一角度重新思索2012的可能性，並由己身出發，重新探討如何開發全新的自我，以不同的角...
1  9789861752068  \r力克胡哲的精神是值得大家學習的，不管遇到多困難的事情或挫折，永遠都能用最樂觀、積極的態度...
2  9789861750675  \r祕密就存在於我自己，提供給想覺知及改變的朋友，透過每個摘要的提醒與練習，實際觀察所思所想...
3  9789861333090  \r陶子姊真的是個很有智慧也十分坦白的知識女性。 你會看到男女之間相處的各種模式和問題還有內...
4  9789861371238  \r這本書，是我第一次那麼認真、快速的看完一本書!他會有種讓人一直看下去的魔力，不會讓人覺得...
5  9789861206691  \r非常棒的一本書,關於付出,付出不一定必須是花錢的,真心的付出,會很微妙的改變自已和周遭的...
6  9789866175183  \r長期都有在關注薇薇的部落格,文章寫得很貼近生活,立場角度也抓得剛剛好,很推薦有需要的朋友...
7  9789571352664  \r雖然人人都可以說出話，但是，卻不是人人都會說對話。作者利用許多有趣的小故事，解析話要如何...
8  9789861750866  \r這本書是引領我認識吸引力法則的入門書籍，也是十分重要的一本書，它以簡單的語句說明吸引力法...
9  9789866158056  \r條列各種心理定律，並加註該條心理反應適用的族群;接著舉例詳細說明，非常容易理解。 例如:...